/* Global Styles */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f9ff;
}

.container-main {
  max-width: 89vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  padding: 20px;
}
.container-2 {
  grid-column: 2 / -1;
}

.nav-side {
  width: 10vw;
}
/* Header Styles */
header {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 3%;
  align-items: center;
  margin-bottom: 40px;
}

.header-text-box {
  flex: 0 0 60%;
  margin-bottom: 20px;
}

.header-text-box h1 {
  font-size: 2.5rem;
  color: #4dabf7;
  margin-bottom: 20px;
}

.header-text {
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.hero {
  width: 100%;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 5px 15px #00000050;
}

/* Card Styles */
.cards {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 10vw;
  background-color: #e9e9e9;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.card {
  width: 100%;
  padding: 10px;
  text-align: center;
  cursor: pointer;
  transition: transform 0.3s ease;
  margin-bottom: 20px;
}

.card:hover {
  transform: translateY(-5px);
  background-color: #4dabf7;
  box-shadow: 0 5px 15px #00000050;
}

.tip {
  font-size: 1rem;
  /* color: #000; */
}

.features-icon {
  fill: #4dabf7;
  width: 32px;
  margin-bottom: 24px;
}

.features-title {
  margin-bottom: 16px;
  font-size: 20px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
}

/* Bestselling Laptops Styles */

.Laptop {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.Laptop:hover {
  transform: translateY(-5px);
}

.Laptop img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.Laptop-box {
  padding: 20px;
}

.Laptop-box h3 {
  font-size: 1.5rem;
  color: #4dabf7;
  margin-bottom: 10px;
}

.Laptop-details {
  list-style: none;
  padding: 0;
}

.Laptop-details li {
  margin-bottom: 5px;
}

.Laptop-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.Laptop-price strong {
  color: #4dabf7;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  color: black;
  background-color: #f4f4f4;
  transition: all 0.4s;
}

.btn--big {
  font-size: 1.2rem;
}

.btn--small {
  font-size: 1rem;
}

.btn:hover {
  background-color: #4dabf7;
  color: #fff;
}

/* Testimonial Styles */

.testimonial-section {
  background-color: #f5f5f5;
  padding: 50px 0;
  border-radius: 12px;
}

.testimonial-box {
  background-color: #4dabf7;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  grid-column: 2 / -1;
}

.testimonial-box img {
  /* height: auto; */
  float: inline-start;
  border-radius: 10px;
  margin: 0 20px 0 0;
  width: 20vw;
}

.testimonial-box h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.testimonial-text {
  font-style: italic;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 1.7;
}

.testimonial-author {
  font-weight: bold;
  font-size: 1.1rem;
  color: #c3e8fa;
}

.testimonial-box h2 {
  margin-bottom: 24px;
  font-size: 24px;
}

/* Footer Styles */
footer {
  text-align: center;
  padding: 20px 0;
  background-color: #333;
  color: #fff;
}

.grid-3-cols-1 {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 5vw;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: auto auto;
}

/* Responsive Styles
*/

@media screen and (max-width: 576px) {
  .container-main {
    max-width: 100%;
  }

  .cards {
    width: 100%;
    height: auto;
    position: static;
    flex-direction: row;
    grid-column: 1 / -1;
  }

  .nav-side {
    width: 0;
  }

  .card {
    width: 100%;
    margin-bottom: 10px;
  }
  figure.Laptop {
    margin: 0 auto 40px;
  }
}

@media screen and (max-width: 800px) {
  header {
    display: block;
  }
  .header-text-box {
    flex: 0 0 100%;
  }

  .card {
    width: 90%;
  }

  .grid-3-cols-1 {
    display: block;
  }
}
@media screen and (max-width: 1000px) {
  .grid-3-cols-1 {
    gap: 2vw;
  }
  img.testi-img {
    width: 100%;
    float: unset;
  }
}
